doctype html
html
  head
    link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel='stylesheet', href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    style
      include style.css
  body
    .container
      h1= title
      .well
        h2 User Login
        .panel-body
          .row
            .col-sm-5
            .col-xs-2
              a.btn.btn-lg.btn-block.btn-google(href= url)
                i.fa.fa-google-plus.visible-xs
                span.hidden-xs Google+
            .col-sm-5
          .row
            h2 Admin Login
            .row.row-sm-offset-3
              .col-xs-12.col-sm-6
                form.loginForm(action='/admin/login', autocomplete='off', method='POST')
                  .input-group
                    span.input-group-addon
                      i.fa.fa-user
                    input.form-control(type='text', name='username', placeholder='Username')
                  span.help-block
                  .input-group
                    span.input-group-addon
                      i.fa.fa-lock
                    input.form-control(type='password', name='password', placeholder='Password')
                  br
                  button.btn.btn-lg.btn-primary.btn-block(type='submit') Login
