doctype html
html
  head
    style
      include style.css
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", type='text/javascript')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    script
      include script.js
  body
    div.row
      div.col-xs-12.col-sm-6.col-md-6
        div.well.well-sm
          div.row
            div.col-sm-6.col-md-4
              img.img-rounded.img-responsive(src=image_url)
            div.col-sm-6.col-md-8
              h4= full_name
              p
                i.glyphicon.glyphicon-envelope
                = email
              p
                div
                  | Amount to be paid: ₹#{amount_due}
      div.col-xs-12.col-sm-6.col-md-6
        a(href='#')#logout
          span.glyphicon.glyphicon-log-out &nbsp;Logout
