body {padding:30px;}

.glyphicon {margin-bottom: 10px;margin-right: 10px;}

h1,h2 {text-align: center;}

.fa {margin-bottom: 10px;margin-right: 10px;}

@media (min-width: 768px) {
    .row-sm-offset-3 div:first-child[class*="col-"] {
        margin-left: 25%;
    }
}

.loginForm .input-group.i {
	width: 2em;
}
.loginForm  .help-block {
    color: red;
}

.btn-google {background: #c32f10;}

.hidden-xs {color: white;}
